In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
md_data = mouse_metadata.merge(study_results)

# Display the data table for preview
md_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
md_data = pd.DataFrame(md_data)
list(md_data.columns)



print(len((md_data['Mouse ID'].unique())))

249

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
meta_data_clean = pd.groupby(meta_data, columns = ['Mouse ID', 'Tumor Volume (mm3)'])

AttributeError: module 'pandas' has no attribute 'groupby'